<style>
  label {
  color: white;
}
</style>

<h3 style="text-align:center; color:white;">Assignment</h3>

  <!-- Add / Edit Form -->
  <div class="card p-3 mb-4" style="background-color: black;">
    <!-- <h5>{{ isEditMode ? 'Edit Course' : 'Add Course' }}</h5> -->

    <div class="row">

      <div class="col-md-4">
        <label>Assignment Title</label>
        <input type="text" class="form-control" [(ngModel)]="formAssignment.title">
      </div>

      <div class="col-md-4">
        <label>Description</label>
        <input type="text" class="form-control" [(ngModel)]="formAssignment.description">
      </div>
       <div class="col-md-4">
        <label>Deadline</label>
        <input type="datetime-local" class="form-control" [(ngModel)]="formAssignment.deadline">
      </div>
       <div class="col-md-4">
        <label>Total Marks</label>
        <input type="text" class="form-control" [(ngModel)]="formAssignment.totalMarks">
      </div>
 <div class="col-md-4">
  <label>Course</label>
  <select class="form-control" [(ngModel)]="selectedCourseId">
    <option [value]="0">Select Course</option>
    <option *ngFor="let s of courses" [value]="s.id">
      {{ s.title }}
    </option>
  </select>
</div>
      <!-- <div class="col-md-4">
        <label>Teacher</label>
         <select class="form-control" [(ngModel)]="selectedAssignmentId"> 
          <option value="">Select Courses</option>
          <option *ngFor="let s of course" [value]="s.id">
            {{ s.fullName  }} 
          </option> 
        </select>
      </div> -->

    </div>

    <div class="mt-3">
      <button class = "btn btn-outline-primary me-2" style = "color:white;font-weight:600" (click)="saveAssignment()">
        {{ isEditMode ? 'Update' : 'Add' }}
      </button>

      <button class = "btn btn-outline-secondary" style = "color:white;font-weight:600"  *ngIf="isEditMode" (click)="resetForm()">
        Cancel
      </button>
    </div>
  </div> 


  <div class="container-fluid mt-5" style="overflow:auto; max-width: 100%; ">

    <table class="table table-dark">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>  
          <th>Deadline</th>
          <th>TotalMarks</th>
          <th>Course ID</th>
          <th>Action</th>
        </tr>
      </thead>  

      <tbody>
        <tr *ngFor="let c of assignment">
          <td>{{ c.title }}</td>
          <td>{{ c.description }}</td>
            <td>{{ c.deadline }}</td>
          <td>{{ c.totalMarks }}</td>
           <td>{{ c.course?.title }}</td>
              <td>  
             <div class="action-buttons">
            <button class="btn btn-primary btn-sm me-2 edit"  (click)="editAssignment(c)">
            <i class="fa fa-edit" style="transform:scale(1.2);"></i>    Edit
            </button>

            <button class="btn btn-danger btn-sm delete" (click)="deleteAssignment(c.id)">
            <i class="fa fa-trash" style="transform:scale(1.2);"></i>   Delete
            </button>
            </div>
          </td>
        </tr>
      </tbody>

    </table>
  </div>