<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	 <a class="navbar-brand" *ngIf="!isStudentLoggedIn" routerLink="/student/login">LMS University | Student</a>
    <a class="navbar-brand" *ngIf="isStudentLoggedIn" routerLink="/student/dashboard">LMS University | Student</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	  <ul class="navbar-nav ms-auto">
		<strong *ngIf="!isStudentLoggedIn" style="display: flex;">
	<li class="nav-item">
		  <a class="nav-link" routerLink="/student/login">Login</a>
		</li>
<!-- <li class="nav-item">
		  <a class="nav-link" routerLink="/student/register">Register</a>
</li> -->
</strong>

		  <li class="nav-item">
          <a class="nav-link" routerLink="/admin/login">Admin</a>
        </li>
     <strong *ngIf="isStudentLoggedIn" style="display: flex;">
		<li class="nav-item">
		  <a class="nav-link active" aria-current="page" routerLink="/student/dashboard">Dashboard</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLink="/student/courses">Courses</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLink="/student/assignment">Assignments</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLink="/student/lecture">Lectures</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLink="/student/attendance">Attendance</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLink="/student/grades">Grades</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLink="/student/profile">Profile</a>
		</li>
		<li class="nav-item">
		  <button class="btn btn-link nav-link" style="color: red;" (click)="logout()">Logout</button>	
		</li>
	 </strong>
	  </ul>
	</div>
  </div>
</nav>